.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  height: 15em;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  color: white;
}

.firstimage {
  width: 49.1%;
}
.selfimage {
  width: 20%;
}

.smallerimg{
 width: 26.7%;
}

.App-Body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.skillset {
  display: flex;
  font-size: 26px;
  width: 25em;
  margin: 1em;
  justify-content: center;
}

.projectSection {
margin-left: 2em;
margin-right: -2em;
}

.codingSection {
  margin: 2em;
  border-radius: 5px;
  padding: 1em;
  width: 20em;
  color: white;
  background-color: rgb(123, 160, 207);
}

.codeName {
  font-size: 18px;
  text-decoration: none;
  font-weight: normal;
  color: white;
}

.codeNameTitle {
  font-size: 19px;
  text-decoration: none;
  font-weight: bold;
  color: white;
}

.codeName:hover {
  font-weight: bold;
}

.contactinfo {
  display: flex;
  flex-direction: row; 
  justify-content: space-around;
  font-size: 15px;
  border-radius: 5px;
  padding: 1em;
  color: white;
  background-color: rgb(87, 143, 87);
}


.socialLink {
   padding: 1em;
   font-size: 20px;
   margin-top: 2em;
}

.basis {
  background-color: tan;
  padding-bottom: 2em;
  width: 30em;
  border-radius: 5px;
  margin-left: 10em;
}

@media (max-width:720px) {

  .App-header {
    width: 100%;
  }

  .App-Body {
    display: flex;
    flex-direction: column; 
    /* margin-right: -25em; */
  }

  .basis {
    margin-left: 10em;
  }
}

@media (max-width:375px) {
  .App-header {
    width: 25em;
  }
  .App-Body {
    margin-left: 15em;
    width: 10em;
  }

  .basis {
    margin-left: 7em;
  }

  .contactinfo {
    width: 45em;
  }

  .Footer {
    margin-left: 25em;
    width: 15em;
  }
}